/* XL Large Devices */
@media only screen and (min-width: 1200px) {
  .xl-direction-row{
    flex-direction: row;
  }
  .xl-direction-column{
    flex-direction: column;
  }
  .personal-image{
    height: 400px;
    object-fit: cover;
    object-position: 100% 100%;
  }
  .person-image-2{
    flex-direction: row;
    width: 60%;
  }
  .person-image-1{
    width: 30%;
  }
  .personal-image{
    width: 100%;
  }
  .main-personal-image{
    width: 100%;
  }
}
/* normal Large Devices */
@media only screen and (man-width: 1115px) {
  .person-image-section{
    flex-direction: column;
  }
  .personal-image{
    object-fit: cover;
    object-position: 100% 100%;
    width: 50%;
  }
  .main-personal-image{
    object-fit: cover;
    object-position: 100% 100%;
    width: 100%;
  }
}
/* Large Devices */
@media only screen and (max-width: 1000px) {

  h1 { font-size: 1.5em; }
  h2 { font-size: 1.17em; }
  h3 { font-size: 1.12em; }
  h4 { font-size: .83em; }
  h5 { font-size: .75em; }
  h6 { font-size: .75em; }
  p { font-size: .75em; }
}
/* Medium Devices */
@media only screen and (max-width: 768px) {
  .about-padding{
    padding: 2em;
  }
  .m-direction-column{
    flex-direction: column;
  }
  .m-direction-row{
    flex-direction: row;
  }
.m-no-padding{
  padding: 0;
}
.m-width-50{
  width: 50%;
}
.m-width-100{
  width: 100%;
}
.person-image-section{
  flex-direction: column;
}
.personal-image{
  object-fit: cover;
  object-position: 100% 100%;
  width: 50%;
}
.main-personal-image{
  object-fit: cover;
  object-position: 100% 100%;
  width: 100%;
}
.person-image-2{
  flex-direction: row;
}
}

/* Small Devices */
@media only screen and (max-width: 600px) {
  .personal-image{
    object-fit: cover;
    object-position: 100% 100%;
    width: 100%;
  }
  .main-personal-image{
    object-fit: cover;
    object-position: 100% 100%;
    width: 100%;
    height: 200px;
  }
  .sm-direction-column{
    flex-direction: column;
  }
  .sm-direction-row{
    flex-direction: row;
  }
  .person-image-2{
    flex-direction: column;
  }
  .sm-width-100{
    width: 100%;
  }
  .sm-direction-column-reverse{
    flex-direction: column-reverse;
  }
}
